/* eb-garamond-regular - latin */
@font-face {
  font-family: 'Hack Nerd Font Mono
  ';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Hack Nerd Font Mono Regular'), 
       url('#{$asset_url}/fonts/Hack-Regular-Nerd-Font-Mono.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$asset_url}/fonts/Hack-Regular-Nerd-Font-Mono.woff') format('woff'), /* Modern Browsers */
       url('#{$asset_url}/fonts/Hack-Regular-Nerd-Font-Mono.ttf') format('truetype') /* Safari, Android, iOS */
}
